<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
  <f:layout name="Preview" />

  <f:section name="Header">
    <f:if condition="{data.header}">
      <be:link.editRecord uid="{data.uid}" table="tt_content" fields="header">
        {data.header}
      </be:link.editRecord>
    </f:if>
  </f:section>

  <f:section name="Content">
    <div id="c{data.uid}" class="{data.CType}">
      <ul class="list-group">

        <f:if condition="{data.events_sys_folder}">
          <li class="list-group-item d-flex justify-content-between">
            <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_events_sys_folder">
              <f:translate key="{cb:languagePath()}:events_sys_folder.label" />
            </be:link.editRecord>
            <div class="list-group">
              <f:for each="{data.events_sys_folder}" as="folder">
                <f:be.link route="web_list" parameters="{id: folder.uid}" title="{folder.title}" class="list-group-item list-group-item-action">
                  {folder.title}
                </f:be.link>
              </f:for>
            </div>
          </li>
        </f:if>

        <li class="list-group-item d-flex justify-content-between">
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_category_filter">
            <f:translate key="{cb:languagePath()}:category_filter.label" />
          </be:link.editRecord>
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_category_filter">
            <span>{data.category_filter}</span>
          </be:link.editRecord>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_layout">
            <f:translate key="{cb:languagePath()}:layout.label" />
          </be:link.editRecord>
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_layout">
            <span>{data.layout}</span>
          </be:link.editRecord>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_ics_download">
            <f:translate key="{cb:languagePath()}:ics_download.label" />
          </be:link.editRecord>
          <be:link.editRecord uid="{data.uid}" table="tt_content" fields="gedankenfolger_event_ics_download">
            <f:if condition="{data.ics_download}">
              <f:then><core:icon identifier="actions-check-circle" size="small" /></f:then>
              <f:else><core:icon identifier="actions-circle" size="small" /></f:else>
            </f:if>
          </be:link.editRecord>
        </li>

      </ul>
    </div>
  </f:section>

  <f:section name="Footer">
    <div class="d-flex justify-content-between">
      <be:link.editRecord uid="{data.uid}" table="tt_content">UID: {data.uid}</be:link.editRecord>
      <be:link.editRecord uid="{data.uid}" table="tt_content">PID: {data.pid}</be:link.editRecord>
    </div>
  </f:section>
</html>
